header{
    padding: 15px;
}

.table-active {
    background-color:#59A9FF;

}

.tableau {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.tableau th,
.tableau td {
    color: black;
    text-align: center;
    border: 1px solid #202020;
}

.row{
    display: flex;    
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
}

li.list-group-item{
    padding-left:25px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
}
li.list-group-item:hover{
    background-color: #1e90ff;
}

.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h5 {
    display: flex;
    justify-content: center;
}

#colFormulaire{
    padding-left: 2em;
    padding-right: 2em;
}

#colFichiers{
    padding-left: 3em;
    padding-right: 3em;
}