header{
    padding: 15px;
    color:black;
}

.scrollspy-example-2 {
    position: relative;
    height: 40em;
    overflow: auto;
}
.scrollable-nav {
    overflow-y: auto;
    max-height: 40em;
}

main {
    padding: 0 2rem 0 2rem;
}

p {
    padding: 10px 0 10px 0;
    text-justify: auto;
    text-align: justify;
}

p:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

.scrollspy-example-2 {
    padding: 15px 15px 15px 15px;
}

footer {
    padding-top: 5px;
    font-size: small;
    text-align: center;
}

